<div class="row">
  <h2>Records Index Page</h2>
</div>
<br>
<div class="row">
  <% @records.each do |record| %>
      <div class="col-sm">
          <strong><%= record.date.strftime('%m-%d-%Y') %></strong>
          <br/>
          <strong><%= record.time.strftime('%I:%M %p') %></strong>
          <br/>
          Reading:
          <%= record.reading %>
          <br/>
          Dose:
          <%= record.dose %>
      </div>
    <br/>
  <% end %>
</div>