<h2>Records Index Page</h2>
<br/>
<br/>
<% @records.each do |record| %>
    <p>
      <%= record.date.strftime('%m-%d-%Y') %>
      <br/>
      <%= record.time.strftime('%I:%M %p') %>
      <br/>
      <p>
          <strong>Reading:</strong>
          <%= record.reading %>
      </p>
      <p>
          <strong>Dose:</strong>
          <%= record.dose %>
      </p>
    </p>
  <br/>
<% end %>