<h2>Records Index Page</h2>
<br/>
<br/>
<% @records.each do |record| %>
    <p>
      <strong><%= record.date.strftime('%m-%d-%Y') %></strong>
      <br/>
      <strong><%= record.time.strftime('%I:%M %p') %></strong>
      <br/>
      Reading:
      <%= record.reading %>
      <br/>
      Dose:
      <%= record.dose %>
    </p>
  <br/>
<% end %>